
<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
<div class="form-group mb-2">
<div class="input-group-prepend">
  <label class="input-group-text">
    Buscar por nome do departamento
  </label>
</div>

  <input type="text" class="form-control"
  placeholder="Filtrar por nome" [(ngModel)]="filtrarNomeDepartamento">
</div>
    </div>
  </div>



<table class="table table-striped">
  <thead class="thead-dark">
      <tr>
        <th>
          Id
        </th>
        <th>
          Nome departamento
        </th>
        <th>
          Opções
        </th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentosFiltrado">
      <td>
        {{departamento.id}}
      </td>
      <td>
        {{departamento.nome}}
      </td>
      <td>
        <button type="button" (click)="openModal($event, template, departamento.id)" class="btn btn-info btm-sm">Editar</button>
        <button type="button" class="btn btn-danger btm-sm"
        (click)="removerRegistro(departamento.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        <b>Quantidade de departamentos retornados: {{departamentos.length}}</b>
      </td>
    </tr>
  </tfoot>
</table>
</div>



<ng-template #template>
  <div class="modal-body text-center">
    <p>Editar registro</p>
    <div class="card rounded shadow-sm">
      <form class="row g-3" [formGroup]="form">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Nome</label>
              <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
            </div>
          </div>
        </div>
        <div hidden class="form-group col-md-12">
          <input type="text" class="form-control"
          formControlName="id" value="{{departamentoId}}">
        </div>

        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-danger mr-auto border" (click)="cancelarUpdate()">Cancelar</button>
            <button class="btn btn-success" (click)="confirmarUpdate()" [disabled]="!form.valid">Confirmar</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</ng-template>
